* {
    touch-action: manipulation;
}
  
body {
    margin : 0px;
    padding : 0px;
    overflow : hidden;
}

canvas.layer {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
}

#menu {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
}

#options {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
}


.menu_item {
    box-shadow: 1px 6px 5px #0004;
    position: absolute;
    background-color: #666D;
}

.menu_chldrn {
    background-color: #555D;
}

.menu_chldrn_t_h {
    border-right: 3px solid black;
}

.menu_chldrn_t_v {
    border-bottom: 3px solid black;
}

.menu_chldrn_b_h {
    border-right: 3px solid black;
}

.menu_chldrn_b_v {
    border-top: 3px solid black;
}


.toast {
    position: absolute;
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
    font-family: arial;
    pointer-events: none;
}

.toast_dark {
    border-top: 1px solid black;
    background-color: #3333;
}

.toast_bright {
    border-top: 1px solid white;
    background-color: #5553;
    color: white;
}







